<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>soccerFinder</title>
    <link rel="stylesheet" href="/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 id="siteTitle" >soccerFinder</h1>
    <header>
      <nav>
        <a href="/guestSearch">Find existing!</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>
  </body>
</html>
