<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/styles/logsign.css">
  </head>
  <body>
    <div id="container">
      <a class="topRight" href="/">Home</a>
      <h1>SIGN UP</h1>
      <form class="" action="/signup" method="post">
        <input id="username" type="text" name="user[username]" value="" placeholder="Username">
        <input id="password" type="password" name="user[password]" value="" placeholder="Password">
        <input id="submit" type="submit" value="Go!">
      </form>
      <span> or <a href="/login">Login</a> </span>
    </div>
  </body>
</html>
