<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/styles/signup.css">
  </head>
  <body>
    <div id=signupContainer>
      <h1>Sign up</h1>
      <form class="" action="/signup" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password">
        <input type="submit" value="Sign up">
      </form>
      <a href="/login">or Login</a>
    </div>
  </body>
</html>
