<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Search Results</h1>
  <div id="proof">
    <h4><%= user.username %></h4>
  </div>

  <div class="parks">
    <%= facs[0].zone_name %>
    <%= parks[0].address %>
  </div>


</body>
</html>
