<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SEARCH</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>USER SEARCH</h1>

  <form action="/userSearch" method="POST">
    <select name="borough" id="borough">
      <option disabled selected value>Get Parks By Borough</option>
      <option value="Q">Queens</option>
      <option value="B">Brooklyn</option>
      <option value="X">Bronx</option>
      <option value="M">Manhattan</option>
      <option value="R">Staten Island</option>
    </select>
    <input type="text" name="zipcode" placeholder="zipcode">
    <input type="submit" value="search">
  </form>
  <div id="proof">
    <h4><%= user.username %></h4>
  </div>
  <form action="/auth?_method=DELETE" method="POST">
    <input type="submit" value="Logout">
  </form>
</body>
</html>
