<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>User Search Results</h1>
  <div class="parks">
    <%= facs[0].zone_name %>
    <%= parks[0].address %>
  </div>
  <div id="proof">
    <h4><%= user.username %></h4>
  </div>
  <form action="/auth?_method=DELETE" method="POST">
    <input type="submit" value="Logout">
  </form>
  <a href="/userSearch">Back</a>
</body>
</html>
